* {
  font-family:Helvetica,arial,freesans,clean,sans-serif;
  font-size: 10pt;
}

fieldset {
  background-color: silver;
  border-radius: 4pt 4pt 4pt 4pt;
  border: 0pt;
  margin-bottom: 10pt;
  border-top: 20pt grey solid;
}


legend {
  height: 22px;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 4px;
  background-color: grey;
  width: 100%;
}

legend .sum {
  float: right;
  color: silver;
}

input[type=number] {
  text-align: right;
  width: 3em;
}

legend  .sum:after {
  content: ' Punkte';
}

li {
  list-style-type: none;
  overflow: auto;
  clear: both;
  padding-top: 1pt;
}

ul {
  margin-top: 2pt;
  padding-left: 0pt;
}

select,
button,
input {
  padding-left: 2pt;
  padding-right: 2pt;
  border: thin darkgray solid;
}


input.error {
  border: thin red solid;
}

.template { 
  display: none;
}

#attributes,
#skillgroups {
  float: left;
}
#attributes label {
  max-width: 45%;
  overflow: hidden;
  width: 10em;
}

#attributes input {
  max-width: 50%;
  overflow: hidden;
  width: 12em;
  float: right;
}

#skillgroups {
  clear: left;
}

body > div {
  width: 33%;
  display: inline-block;
}

#attributes .experiencepoints input,
#attributes .reputation input {
  width: 50pt;
}

#skillgroups input {
  float: right
}

li  label {
  width: 40%;
  float: left;
  overflow: auto;
}

#skills .ui-spinner-button, 
#skillgroups .ui-spinner-button {
  display: none;
}

#skills {
  width: 67%;
  float: right;
}

#skills .edit input {
  float: none;
  width: 50%;
}

#skills .edit button {
  float: right;
}

#skills .skill input {
  float: right;
}




